/* TODO #e6e9ed Überschrift auf #434a54 Grau Hintergrund
#aab2bd Schrift auf #434a54 Grau Hintergrund
*/

/* TODO Untergliedern und aufräumen */

body, html {
  width: 100%;
  height: 100%;
}

h2 {
  text-transform: uppercase;
}

body {
  font-family: 'Roboto', sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #3498db;
}

hr.light {
  border-color: white;
}

hr.dark {
  border-color: #222222;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.impressum h3 {
  margin-top: 20px;
}

.privacy h3 {
  margin-top: 20px;
}

.bg-primary {
  background-color: #3498db !important;
}

.bg-dark {
  color: white;
  background-color: #323232 !important;
}

.bg-dark2 {
  color: #e6e9ed;
  background-color: #434a54;
}

.bg-light {
  background-color: #ecf0f1 !important;
}

.sale {
  padding-top: 70px;
}

.img-sale img {
  height: 300px;
  width: auto;
}

@media (min-width: 576px) {
  .img-sale img {
    padding-top: 120px;
    margin-left: -50px;
    height: 400px;
    width: auto;
  }
}

@media (min-width: 768px) {
  .img-sale img {
    padding-top: 90px;
    height: 400px;
    width: auto;
  }
}

@media (min-width: 992px) {
  .img-sale img {
    height: 400px;
    width: auto;
  }
}

@media (min-width: 1200px) {}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

a {
  color: #3498db;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

section {
  padding: 100px 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: white;
  background: #222222;
  text-shadow: none;
}

::selection {
  color: white;
  background: #222222;
  text-shadow: none;
}

.features-box-heading {
  text-transform: uppercase;
  margin: 10px 0;
}

.features-box-1 i {
  font-size: 60px;
  color: #f1c40f;
}

.features-box-2 i {
  font-size: 60px;
  color: #e74c3c;
}

.features-box-3 i {
  font-size: 60px;
  color: #2980b9;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #222222;
}

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav.navbar-shrink {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #3498db;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  margin-right: auto !important;
}

#mainNav .navbar-brand img {
  height: 50px;
}

/*
#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #3498db;
} */

#mainNav .navbar-toggle {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #434a54;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:focus, #mainNav .navbar-nav>li.nav-item>a.nav-link {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #434a54;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
  color: #3498db;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active, #mainNav .navbar-nav>li.nav-item>a.nav-link.active {
  color: #3498db !important;
  background-color: transparent;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: rgba(255, 255, 255, 0.3);
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
    height: 50px;
    margin-right: auto !important;
  }
  #mainNav .navbar-brand img {
    height: 70px;
    margin-top: 20px;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: white;
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: white;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #3498db;
  }
  #mainNav.navbar-shrink .navbar-brand img {
    height: 50px;
    opacity: 1;
    margin-top: 0px;
    -webkit-transition: height .5s;
    transition: height .5s;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #3498db;
  }
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: #3498db;
  }
}

header.topheader {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: white;
  background-image: url("img/header.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.topheader .header-content {
  position: relative;
  width: 100%;
  padding: 150px 15px 100px;
  text-align: center;
}

header.topheader .header-content .header-content-inner h1 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

header.topheader .header-content .header-content-inner hr {
  margin: 30px auto;
}

header.topheader .header-content .header-content-inner p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 768px) {
  header.topheader {
    height: 100%;
    min-height: 600px;
  }
  header.topheader .header-content {
    position: absolute;
    top: 50%;
    padding: 0 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  header.topheader .header-content .header-content-inner {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
  header.topheader .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  header.topheader .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}

.call-to-action {
  padding: 50px 0;
}

.call-to-action h2 {
  margin: 0 auto 20px;
}

.text-primary {
  color: #F05F40 !important;
}

.no-gutter>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn {
  text-transform: uppercase;
  color: black;
  border: 1px solid;
  margin-right: 5px;
  background-color: transparent;
}

.btn a:hover {
  color: #3498db;
}

.form-group button:hover {
  color: #3498db;
}

.btn-xl {
  padding: 15px 30px;
  margin-top: 120px;
  color: white;
}

.signup .btn {
  border: 1px solid #ced4da;
}

.topheader a:hover {
  color: #bdc3c7;
}

.product-footer a:hover {
  color: #2980b9;
}

.sale a:hover {
  color: #2980b9;
}

.btn-amazon {
  height: 25px;
  padding-right: 5px;
}

.btn-amazon-product {
  height: 20px;
  padding-right: 2px;
  margin-left: -5px;
}

.btn-ebay {
  height: 25px;
  padding-right: 5px;
}

.btn-ebay-product {
  height: 20px;
  padding-right: 2px;
  margin-left: -5px;
}

.btn-transparent {}

.btn-product {
  font-size: 12px;
}

.product {
  padding-left: 30px;
  padding-right: 30px;
}

.product h3 {
  font-size: 20px;
}

.product-outer {
  padding-top: 50px;
  padding-left: -20px !important;
  padding-right: -5px !important;
}

.product-footer {
  font-size: 12px;
}

.product-header {}

.product-header p {
  font-size: 1.75rem;
  font-weight: normal;
  margin-left: auto;
}

.price {
  font-weight: bold;
  font-size: 20px !important;
  position: absolute;
  padding-right: 30px;
  right: 0px;
}

.price p {
  font-size: 20px;
}

@media (max-width: 767px) {
  .product {
    margin-bottom: 50px;
  }
}


/* ------ Testimonals ------ */

@media (min-width: 992px) {
.parallax {
    /* The image used */
    background-image: url("img/parallax.jpg");

    /* Full height */
    height: 65%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
}

.testimonial-description {
  margin-top: 50px;
  border-radius: 5px;
  padding: 30px 30px 20px 30px;
  position: relative;
  background-color: #ffffff;
  box-shadow: 1px 1px 2px rgba(222, 222, 222, 0.32);
}

.testimonial-description:after {
  content: "";
  bottom: -15px;
  left: 50px;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.testimonial-description p {
  line-height: 24px;
  font-size: 14px;
  font-style: italic;
}

.testimonial-user-name {
  margin-bottom: 0px;
}

.user-text {
  display: inline-block;
  vertical-align: bottom;
}

.user-name {
  margin-left: 3px;
}

.testimonial-user-info {
  padding-left: 30px;
  margin-top: 35px;
}

.user-position {
  font-weight: 400;
  display: block;
}

.testimonial-user-info i {
  font-size: 20px;
  color: #f1c40f;
}

/* Impressum */

#imprintNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#imprintNav .navbar-nav>li.nav-item>a.nav-link:focus, #imprintNav .navbar-nav>li.nav-item>a.nav-link {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

#imprintNav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}

.navbar-brand-img {
  height: 50px;
  padding: 0;
  width: auto;
  margin-left: 20px;
}

/* FAQ */

#faqAccordion {
  margin-top: 50px;
}

#faqAccordion a {
  font-size: 20px;
  color: white;
}

.question {
  text-transform: uppercase;
  color: #e6e9ed;
}

.answer {
  font-size: 16px;
  margin-top: 20px;
  color: #aab2bd!important;
}

.item {
  margin-bottom: 50px;
}

.item a:hover {
  text-decoration: none;
}


/* Footer */

.footer-basic-centered{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font-size: 18px;

	padding: 45px;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
	list-style: none;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-links a {
  padding: 0 .3rem;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}


/* Google ReCaptcha */

div#sib_embed_signup .needsfilled input {
  border-color: #B94A48 !important;
  color: #B94A48 !important;
}

div#sib_embed_signup .needsfilled {
  color: #B94A48 !important;
}

div#sib_embed_signup input[type="text"] {
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

div#sib_embed_signup input[type=number]::-webkit-inner-spin-button, div#sib_embed_signup input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

div#sib_embed_signup input[type=number] {
  -moz-appearance: textfield;
}

div#sib_embed_signup div.message_area {
  position: relative;
  padding: 10px 30px 10px 10px;
  margin: 0px 0px 10px 0px;
  font-size: 14px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-sizing: border-box;
}

div#sib_embed_signup div.message_area button.close {
  position: absolute;
  right: 8px;
  top: 8px;
  color: inherit;
  background: 0 0;
  border: 0;
  padding: 0px;
  -webkit-appearance: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.tipicon {
  cursor: pointer;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  vertical-align: baseline;
  background-color: #999;
  border-radius: 10px;
  text-decoration: none;
}

.tooltip {
  display: inline;
  position: absolute;
  left: 97%;
}

.tooltip:hover:after {
  background: #333;
  background: rgba(0, 0, 0, .8);
  border-radius: 5px;
  color: #fff;
  content: attr(data-title);
  right: -2px;
  bottom: 26px;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 220px;
}

.tooltip_small:hover:after {
  padding: 5px 5px;
  width: 150px;
}

.tooltip:hover:before {
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  left: 1px;
  position: absolute;
  z-index: 99;
}

.sib-dropdown-menu.flag-icon {
  display: none;
  height: 100px;
  overflow-x: hidden;
  min-width: 230px;
  font-size: 13px;
  list-style: none;
  padding-left: 14px;
  border: 1px solid rgba(0, 0, 0, .15);
  background: white;
  border-radius: 4px;
  margin-top: 10px;
}

.sib-dropdown-menu.flag-icon li a {
  display: block;
  white-space: nowrap;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: none;
}

.sms_field .country-block {
  margin-right: 3px !important;
  float: left;
  width: 56px;
}

.icon-arrow {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin-left: 2px;
  margin-top: 5px;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  vertical-align: text-top;
}

.sib-dropdown-toggle.country-flg {
  display: inline-block;
  font-size: 13px;
}

div#sib_embed_signup .sib-container h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div#sib_embed_signup h1.title {
  font-size: 45px;
}

div#sib_embed_signup .sib-container .forms-builder-footer, div#sib_embed_signup .sib-container .description, div#sib_embed_signup .sib-container .fake-label, div#sib_embed_signup .sib-container .row, div#sib_embed_signup .sib-container #company-name {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div#sib_embed_signup .forms-builder-footer, div#sib_embed_signup div.description, div#sib_embed_signup .fake-label, div#sib_embed_signup .row {
  font-size: 17px;
}

div#sib_embed_signup .sib-container .button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div#sib_embed_signup .button {
  font-size: 14px;
}

div#sib_embed_signup input {
  font-size: 13px;
}

div#sib_embed_signup .sib-containter h1 {
  color: #232323;
}

div#sib_embed_signup .sib-container {
  color: #343434;
}

div#sib_embed_signup .sib-container .button {
  color: #ffffff;
}

div#sib_embed_signup .sib-container .button {
  background: #050505;
}

div#sib_embed_signup .forms-builder-wrapper {
  max-width: 540px;
}

div#sib_embed_signup .sib-container {
  padding: 40px 20px 20px;
}

div#sib_embed_signup .header {
  padding: 0 20px;
}

div#sib_embed_signup h1.title {
  lineHeight: 50px;
}

div#sib_embed_signup h3.company-name {
  lineHeight: 35px;
}

div#sib_embed_signup div.description {
  padding: 0 20px 15px;
}

div#sib_embed_signup div.row {
  padding: 10px 20px;
}

div#sib_embed_signup input[type=text] {
  padding: 10px 4px;
  width: 100% !important;
  box-sizing: border-box;
}

div#sib_embed_signup input[type=number] {
  padding: 10px 4px;
  width: 100% !important;
  box-sizing: border-box;
}
