/* TODO #e6e9ed Überschrift auf #434a54 Grau Hintergrund
#aab2bd Schrift auf #434a54 Grau Hintergrund
*/
/* TODO Untergliedern und aufräumen */
body, html {
  overflow-x: hidden;
}

h2 {
  text-transform: uppercase;
}

body {
  font-family: 'Roboto', sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #3498db;
}

hr.light {
  border-color: white;
}

hr.dark {
  border-color: #222222;
}

hr.footer {
  border-color: #e6e9ed;
  max-width: 500px;
  border-width: 1px;
  margin-bottom: 50px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.impressum h3 {
  margin-top: 20px;
}

.privacy h3 {
  margin-top: 20px;
}

.bg-primary {
  background-color: #3498db !important;
}

.bg-dark {
  color: #e6e9ed;
  background-color: #434a54 !important;
}

.bg-light {
  background-color: #F2F1EF !important;
}

.sale {
  padding-top: 70px;
  padding-right: 70px;
}

.img-sale img {
  height: 300px;
  width: auto;
}

.img-amazon-logo img {
  width: 250px;
}

.img-ebay-logo img {
  width: 150px;
  padding-top: 50px;
}

.meinEinkauf-logo img {
  width: 200px;
}

.angebot-preis {
  font-size: 20pt;
  margin-top: 20px;
}

.row-sm {
  margin-right: -7px;
  margin-left: -7px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card-sm .img-wrap {
  /* height: 180px;  */
}

.card-product {
  margin-bottom: 1rem;
  /* btn-overlay-bottom */
}

.card-product:after {
  content: "";
  display: table;
  clear: both;
  visibility: hidden;
}

.card-product .img-wrap {
  border-radius: 0.2rem 0.2rem 0 0;
  overflow: hidden;
  position: relative;
  /* height: 220px; */
  text-align: center;
}

.card-product .img-wrap img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  display: inline-block;
  -o-object-fit: cover;
  object-fit: cover;
}

.card-product .info-wrap {
  overflow: hidden;
  padding: 15px;
  border-top: 1px solid #eee;
}

.card-product .info-wrap .description {
  font-size: 0.75rem;
  margin-bottom: 10px;
}

.card-product:hover .btn-overlay {
  opacity: 1;
}

.card-product:hover {
  -webkit-box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
  box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
  -webkit-transition: .5s;
  transition: .5s;
}

.btn-product {
  right: 0;
  /* margin-right: 5px;
  margin-left: auto; */
  position: relative;
}

.card .img-wrap {
  overflow: hidden;
}

.price {
  margin-right: 5px;
  color: #7ab314;
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 20px !important;
  right: 0px;
  line-height: 0px;
}

.price-hint {
  color: #9fa2a5;
  font-size: 0.5rem;
  line-height: 0px;
  margin-bottom: 10px;
}

.price-wrap .prime {
  height: 15px;
  width: 60px;
  background: url(img/icon-prime.png) no-repeat center center;
  background-size: 53px 15px;
  display: inline-block;
}

@media (min-width: 576px) {
  .img-sale img {
    padding-top: 120px;
    margin-left: -50px;
    height: 400px;
    width: auto;
  }

  .img-amazon-logo img {
    width: 220px;
    padding-top: 15px;
  }

  .img-ebay-logo img {
    width: 150px;
    padding-top: 0px !important;
  }

  .meinEinkauf-logo img {
    width: 200px;
  }
}

@media (min-width: 768px) {
  .img-sale img {
    padding-top: 90px;
    height: 400px;
    width: auto;
  }

  .img-amazon-logo img {
    width: 300px;
    padding-top: 25px;
  }

  .img-ebay-logo img {
    width: 200px;
    padding-top: 0px !important;
  }

  .meinEinkauf-logo img {
    width: 400px;
  }
}

@media (min-width: 992px) {
  .img-sale img {
    height: 400px;
    width: auto;
  }

  .img-amazon-logo img {
    width: 400px;
    padding-top: 15px !important;
  }

  .img-ebay-logo {
    padding-top: 0px !important;
  }

  .meinEinkauf-logo img {
    width: 400px;
  }
}

@media (min-width: 1200px) {}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

a {
  color: #3498db;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

section {
  padding: 100px 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: white;
  background: #222222;
  text-shadow: none;
}

::selection {
  color: white;
  background: #222222;
  text-shadow: none;
}

.features-box-heading {
  text-transform: uppercase;
  margin: 10px 0;
}

.features-box-1 i {
  font-size: 60px;
  color: #f1c40f;
}

.features-box-2 i {
  font-size: 60px;
  color: #e74c3c;
}

.features-box-3 i {
  font-size: 60px;
  color: #2980b9;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #222222;
}

.counter {
  font-size: 2.5rem !important;
}

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav.navbar-shrink {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #3498db;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  margin-right: auto !important;
}

#mainNav .navbar-brand img {
  height: 50px;
}

/*
#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #3498db;
} */
#mainNav .navbar-toggle {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #434a54;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:focus, #mainNav .navbar-nav>li.nav-item>a.nav-link {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #434a54;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
  color: #3498db;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active, #mainNav .navbar-nav>li.nav-item>a.nav-link.active {
  color: #3498db !important;
  background-color: transparent;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: rgba(255, 255, 255, 0.3);
    background-color: transparent;
  }

  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
    height: 50px;
    margin-right: auto !important;
  }

  #mainNav .navbar-brand img {
    height: 70px;
    margin-top: 20px;
  }

  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: white;
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: white;
  }

  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: white;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }

  #mainNav.navbar-shrink .navbar-brand {
    color: #3498db;
  }

  #mainNav.navbar-shrink .navbar-brand img {
    height: 50px;
    opacity: 1;
    margin-top: 0px;
    -webkit-transition: height .5s;
    transition: height .5s;
  }

  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #3498db;
  }

  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
    color: #222222;
  }

  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: #3498db;
  }
}

/* HEADER */
.v-header {
  display: flex;
  align-items: center;
  color: #fff;
}

.v-container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

@media (min-width: 992px) {
  .v-header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
  }

  .header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #225470;
    z-index: 1;
    opacity: 0.5;
  }

  .header-content {
    margin-left: -60px;
  }
}



@media (max-width: 576px) {
  .fullscreen-video-wrap video {
    position: absolute;
    top: 76px;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .header-overlay {
    height: auto;
    width: 100%;
    position: absolute;
    top: 76px;
    left: 0;
    background: #225470;
    z-index: 1;
    opacity: 0.5;
  }

  .header-haendlerbundLogo img {
    width: 60px;
  }
}

.header-content {
  z-index: 2;
  margin-top: 120px;
}

.header-haendlerbundLogo {
  margin-top: 87vh;
  margin-left: 72vw;
}

.header-content h1 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.header-content a:hover {
  color: #bdc3c7;
}

@media (min-width: 768px) {
  .header-content h1 {
    font-size: 50px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .header-content a:hover {
    color: #bdc3c7;
  }
}

.call-to-action {
  padding: 50px 0;
}

.call-to-action h2 {
  margin: 0 auto 20px;
}

.text-primary {
  color: #F05F40 !important;
}

.no-gutter>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn {
  text-transform: uppercase;
  color: black;
  border: 1px solid;
  margin-right: 5px;
  background-color: transparent;
}

.btn a:hover {
  color: #3498db;
}

.form-group button:hover {
  color: #3498db;
}

.btn-xl {
  padding: 15px 30px;
  margin-top: 20px;
  color: white;
}

@media (min-width: 992px) {
  .btn-xl {
    padding: 15px 30px;
    margin-top: 120px;
    color: white;
  }
}

.btn {
  border: 1px solid #ced4da;
}

.product-footer a:hover {
  color: #2980b9;
}

.sale a:hover {
  color: #2980b9;
}

.btn-amazon {
  height: 25px;
  padding-right: 5px;
}

.btn-amazon-product {
  height: 20px;
  padding-right: 2px;
  margin-left: -5px;
}

.btn-ebay {
  height: 25px;
  padding-right: 5px;
}

.btn-ebay-product {
  height: 20px;
  padding-right: 2px;
  margin-left: -5px;
}

.btn-transparent {}

.btn-product {
  font-size: 12px;
  margin-right: 5px;
  margin-left: auto;
}

.product {
  padding-left: 30px;
  padding-right: 30px;
}

.product h3 {
  font-size: 20px;
}

.product-outer {
  padding-top: 50px;
  padding-left: -20px !important;
  padding-right: -5px !important;
}

.product-footer {
  font-size: 12px;
}

.product-header {}

.product-header p {
  font-size: 1.75rem;
  font-weight: normal;
  margin-left: auto;
}

.price p {
  font-size: 20px;
}

@media (max-width: 767px) {
  .product {
    margin-bottom: 50px;
  }
}

/* ------ Testimonals ------ */
@media (min-width: 992px) {
  .parallax {
    /* The image used */
    background-image: url("img/parallax.jpg");
    /* Full height */
    height: 80%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.testimonial-description {
  margin-top: 50px;
  border-radius: 5px;
  padding: 30px 30px 20px 30px;
  position: relative;
  background-color: #ffffff;
  box-shadow: 1px 1px 2px rgba(222, 222, 222, 0.32);
}

.testimonial-description:after {
  content: "";
  bottom: -15px;
  left: 50px;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.testimonial-description p {
  line-height: 24px;
  font-size: 14px;
  font-style: italic;
}

.testimonial-user-name {
  margin-bottom: 0px;
}

.user-text {
  display: inline-block;
  vertical-align: bottom;
}

.user-name {
  margin-left: 3px;
}

.testimonial-user-info {
  padding-left: 30px;
  margin-top: 35px;
}

.user-position {
  font-weight: 400;
  display: block;
}

.testimonial-user-info i {
  font-size: 20px;
  color: #f1c40f;
}

/* Impressum */
#imprintNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#imprintNav .navbar-nav>li.nav-item>a.nav-link:focus, #imprintNav .navbar-nav>li.nav-item>a.nav-link {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

#imprintNav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}

.navbar-brand-img {
  height: 50px;
  padding: 0;
  width: auto;
  margin-left: 20px;
}

/* FAQ */
#faqAccordion {
  margin-top: 50px;
}

#faqAccordion a {
  font-size: 20px;
  color: white;
}

#faqAccordion .email a {
  font-size: 16px;
}

.question {
  text-transform: uppercase;
  color: #e6e9ed;
}

.answer {
  font-size: 16px;
  margin-top: 20px;
  color: #aab2bd !important;
}

.item {
  margin-bottom: 50px;
}

.item a:hover {
  text-decoration: none;
}

/* Footer */
.hr-footer {
  background-color:
}

.footer-basic-centered {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 45px;
}

.footer-basic-centered .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-basic-centered .footer-links {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  list-style: none;
  color: #ffffff;
  padding: 35px 0 23px;
  margin: 0;
}

.footer-links a {
  padding: 0 .3rem;
}

.footer-basic-centered .footer-links a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 600px) {
  .footer-basic-centered {
    padding: 35px;
  }

  .footer-basic-centered .footer-company-motto {
    font-size: 18px;
  }

  .footer-basic-centered .footer-company-name {
    font-size: 12px;
  }

  .footer-basic-centered .footer-links {
    font-size: 14px;
    padding: 25px 0 20px;
  }

  .footer-basic-centered .footer-links a {
    line-height: 1.8;
  }
}

/** Cookie Info */
.cc_container .cc_btn {
  background-color: #e4e4e4 !important;
  /* Farbe des Buttons */
  color: #000 !important;
  /* Textfarbe des Buttons */
  max-width: 150px !important;
}

.cc_container {
  background: #1f6888 !important;
  /* Hintergrundfarbe des gesamten Bereichs */
  color: #fdfdfd !important;
  /* Schriftfarbe des gesamten Bereichs */
  font-family: 'Roboto', sans-serif;
}

.cc_container a {
  color: #31a8f0 !important;
  /* Textlink-Farbe "Mehr Infos" */
}
